:root{

  --clr-primary-400: #495E57;
  --clr-primary-700: #f4ce14;
  
  --clr-secondary-400: #ee9972;
  --clr-secondary-700: #fbdabb;

  --clr-highlight-400: #edefee;
  --clr-highlight-700: #333333;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra: 800;

  --ff-accent: 'Markazi Text', serif;
  --ff-regular: 'Karla', sans-serif;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
